/* Title */
body.itemid-437 #sp-header {
    background: rgba(0,0,0,.1);
    box-shadow: 0 3px 3px rgba(0,0,0,0.05);
    height: 90px;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 99; 
}
#sp-header-sticky-wrapper {
    position: relative;
    z-index: 999;
}
#offcanvas-toggler >i {
  color: #ffffff;
}
.sticky-wrapper.is-sticky #sp-header {
    background: rgba(0,0,0, .9)!important;
    opacity: 0.9;
}
.itemid-437 .sp-megamenu-parent >li >a {
    color: #ffffff;
}

#sp-main-body {
	padding: 0!important;
}
.et-title h2 {
	font-size: 35px;
    margin: 0;
    margin-bottom: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.et-title h6 {
    color: #ffffff;
    padding: 6px 10px 6px;
    margin-top: 0px;
    font-size: 14px;
    letter-spacing: 2px;
    display: inline-block;
    font-style: italic;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.et-title p {
	margin: 0;
	color: #bcbcbc;
	font-size: 14px;
	font-weight: 500;
}
/* Transition */
h1, h2, h3, h4, h5, h6, i, i:before, i:after  {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition:    all 0.4s ease-in-out;
	-ms-transition:     all 0.4s ease-in-out;
	-o-transition:      all 0.4s ease-in-out;
	transition:         all 0.4s ease-in-out;
}
/* Slider */
#et-slider {
    margin-top: -90px;
}
.et-slider {
	position: relative;
}
.et-slider .tp-caption a {
    background-color: #ffffff;
	padding: 12px 35px;
	color: #333;
	font-size: 14px;
	text-transform: uppercase;
}
.et-slider .tp-caption:hover a {
    color: #ffffff;
}
.et-slider .button:hover {
	background: #222;
}
.et-bounce {
	position: absolute;
	bottom: 10px;
	width: 100%;
	left: 0;
	right: 0;
	z-index: 9999;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    border-radius:50%;
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
    color: #fff;
    font-size: 24px;
}
 
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
    40% {-moz-transform: translateY(-30px);}
    60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
    40% {-o-transform: translateY(-30px);}
    60% {-o-transform: translateY(-15px);}
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}
@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/* Intro */
#et-intro {
   cursor: pointer;
    position: relative;
    top:-147px;
    overflow: inherit;
    z-index: 99;
}
.et-intro-item i {
    background: rgba(69, 69, 69, 0.9) none repeat scroll 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    margin-top: -65px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    position: absolute;
    left: 42%;
}
.et-intro-item h4 {
	font-size: 18px;
    margin-bottom:2px;
    margin-top: 36px;
   	text-transform: uppercase;
   	font-weight: 700;
}
#et-intro .qx-column:not(:last-child) {
    border-right: 1px solid #fafafa;
}

/* About */
#et-about {
  top:-70px;
  
}
.et-about-item {
    background: rgba(0,0,0,0.7);
    padding: 20px;
}
#qx-blurb-28898 .qx-col-lg-6 {
    padding-left: 0px;
    padding-right: 0px;
}
.et-about-item:hover{
    cursor: pointer;
    opacity: 0.9;
}
.et-about-item i {
    font-size: 40px;
    width:100px;
    height:100px;
    padding: 30px;
    border-radius: 50%;
    margin-bottom: 35px;
}
.et-about-item h4 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 500;
}
.et-about-item a,
.et-about-item-left a {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.et-about-item-left .qx-col-lg-6 {
    padding-left: 0px!important;
}
/* Portfolio */
.et-portfolio-button:hover {
	color: #fff;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li {
	margin: 5px;
}
.project-img img {
    width: 100%;
}
.projects-filter {
    text-align: center;
    display: inline-block;
}
.projects-filter ul {
    display: inherit;
    line-height: 43px;
    margin: 0 auto;
}
.projects-filter ul li {
    line-height: 40px;
    margin: 5px 0;
    display: static!important;
    float: left;
}
.projects-filter a {
    padding: 8px 15px;
    border: 1px solid #fff;
}
.item-page .project-img {
    border: 5px solid #fff;
}
.pp-button {
    color: #fff;
    padding: 12px 40px;
    font-weight: 700;
}
.pp-button:hover {
    color: #fff;
    background: #666;
}
.projects-filter a {
    width: 200px;
    display: inline-block;
    padding: 0;
    border-radius: 20px;
}
/* App */
.et-app h1 {
    font-size: 35px;
    text-transform: uppercase;
}
.et-app p {
    font-size: 17px;
    font-weight: 300;
    padding-top: 36px;
}

.et-app .app-store li {
   display: inline-block;
    width: 18%;
    margin: 8px;
}
.et-app .app-store {
    margin-top: 40px;
}
.et-app .app-store li .btn {
   padding:10px 28px;
   border-radius:0px!important;
}
.et-app .app-store li .btn:hover {
   background:none!important;
  color:#fff;
}

.et-app .app-store li img {
    width: 100%;
}
/* Team */
.et-team-item {
	position: relative;
	margin: 0 5px; 
}
.et-team-item img {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition:    all 0.4s ease-in-out;
	-ms-transition:     all 0.4s ease-in-out;
	-o-transition:      all 0.4s ease-in-out;
	transition:         all 0.4s ease-in-out;
}
.et-team-item:hover img {
    transform: rotate(5deg)scale(1.1);
}
.et-team-item .qx-person-img {
	margin-bottom: 0;
	overflow: hidden;
	width: 100%;
	position: relative;
}
.et-team-item .qx-person-img:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9999;
    transition: all .3s linear;
    z-index: 2;
}
.et-team-item:hover .qx-person-img:before {
    opacity: .7;
}
.et-team-item .qx-person-position {
	position: absolute;
    font-size: 22px;
    transition: all .3s linear;
    color: #1F1F1F;
    text-transform: uppercase;
    font-weight: 700;
}
.et-team-item h4 {
	background: #fff;
	padding: 15px 5px;
}
.et-team-item .social-links {
	width: 100%;
	left: 0;
	right: 0;
    padding-top: 30px;
	margin: 0 auto;
	bottom: 10px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition:    all 0.4s ease-in-out;
	-ms-transition:     all 0.4s ease-in-out;
	-o-transition:      all 0.4s ease-in-out;
	transition:         all 0.4s ease-in-out;
}
.et-team-item:hover .social-links {
	opacity: 1;
}
.et-team-item .social-links a {
    width: 27px;
    height: 27px;
    display: block;
    transform: rotate(45deg);
    color: #ffffff;
    text-align: center;
    line-height: 24px;
    margin: 0 6px;
    border-radius: 3px;
    display: inline-block;
}
.et-team-item .social-links a:before {
	font-size: 12px;
}
/* Buy Now */
.et-buynow-item h1 {
    font-size: 35px;
    font-weight: 700;
}
.et-buynow-item h5 {
    font-size: 17px;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 400;
    margin: 15px 0;
}
.et-buynow-item p {
    font-size: 15px;
    font-weight: 300;
    color: #494949;
}
#et-buynow-item-button {
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
}
/* Training */
.et-training-item {
    cursor: pointer;
}
.et-training-item i {
   transition: all .25s linear;
      -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
     transition: all 0.4s ease-in-out 0s; 
}
.et-training-item:hover i.qx-icon:before {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    display: block; 
    
}
.et-training-item h4 {
    text-transform: uppercase;
    font-weight: 500;
}
/* Pricing */
.et-table-item {
    transition: all .20s ease 0s;
    border: 2px solid rgba(1, 125, 172, .05);
    border-radius: 2px;
}
.et-table-item:hover {
    background: #fff;
    border-width: 2px;
    box-shadow: 5px 5px 0 0 rgba(1,126,172, .1);
    transform: translate(-1%, -1%) scale(1);
}
.et-table-item button a {
    color:#fff!important;
}
.et-table-item:hover button {
    border-radius: 2px;
    color: #fff!important;
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    transition: all .20s linear;
}

.et-table-item h3 {
    font-size: 26px;
    text-transform: uppercase;
    margin-top: 0;
    font-weight: 700;
}
.et-table-item p {
    color:#ffffff;
    text-align: left;
}
.et-table-item .table-price {
    padding-top: 15px;
    padding-bottom: 25px;
}
.et-table-item .table-price .curriency {
    vertical-align: super;
    font-size: 24px;
    top: -25px;
    position: relative;
    margin-right: 8px;
    color: #888888;
}
.et-table-item .table-price .price {
    font-size: 40px;
}
.et-table-item .table-price .month {
    vertical-align: bottom;
    font-size: 30px;
    text-transform: capitalize;
    position: relative;
    bottom: 10px;
    color: #ffffff;
}
.et-table-item ul.table-items li {
    display: block;
    margin-bottom: 8px;
    color: #fff;
    font-weight: 500;
}

.et-table-item ul.table-items li strong {
	display: none;
}
.et-table-item button {
    background: none;
    border: 1px solid;
    color: #cfaa45;
    position: relative;
    padding: 10px 50px;
    margin-top: 20px;
    font-size: 12px;
    transition: all .20s linear;
}

/* Testimonial */
.et-testimonial h4 {
	margin-bottom: 5px!important;
    margin-top: 20px;
}
/* Blog */
body.com-k2 #sp-main-body {
    padding-top: 50px!important;
}
div.k2ItemsBlock ul li div.moduleItemIntrotext a.moduleItemImage img {
    float: left;
}
.entry-header h2 a {
    font-size: 30px;
    font-weight: 400;
}
div.sp-module .sp-module-title {
  	font-size: 20px;
    font-weight: 400;
}
.sp-page-title {
    margin-bottom: 50px;
}
.et-blog div.k2ItemsBlock ul li {
	width: 32%;
	float: left;
	margin-right: 2%;
	position: relative;
	overflow: hidden;
}
.et-blog div.k2ItemsBlock ul li:nth-child(3n) {
	margin-right: 0;
}
.et-blog div.k2ItemsBlock ul li a {
	display: inherit;
	overflow: hidden;
}
.et-blog div.k2ItemsBlock ul li img {
	width: 100%;
	margin-bottom: 15px!important;
	transition: all .40s linear;
	transform: scale(1.1);
}
.et-blog div.k2ItemsBlock ul li:hover img {
	transform: rotate(4deg)scale(1.2);
}
.et-blog ul li .moduleItemDateCreated {
	position: absolute;
	left: 0;
	top: 224px;
	width: 110px;
    display: block;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    color: #fff;
}
.et-blog .et-portfolio-button {
	margin-top: 0!important;
}
.et-blog > div > p {
	clear: left;
}
.projects-wrapper .project-img .project-img-extra h4 {
  color:#fff;
}
/* Subscribe */
.et-subscribe-title h4 {
	margin-top: 0;
	font-size: 36px;
	font-weight: 700;
}
.et-subscribe-title h5 {
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 300;
}
.et-subscribe-content table {
	margin: inherit;
}
.et-subscribe-content table input {
	background: none!important;
	border-radius: 0!important;
	padding: 20px 70px!important;
}
.et-subscribe-content table .button {
	padding: 10px 30px!important;
	border-color: #fff;
}
.et-subscribe-content table tr {
	display: inline;
}
/* Contact */
#et-contact .qx-icon {
    padding: 20px;
}
.et-contact-item .qx-icon {
     -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
     transition: all 0.4s ease-in-out 0s; 

}

.et-contact-item:hover .qx-icon:before {
    -webkit-transform: roteteY(-180deg);
    -ms-transform: roteteY(-180deg);
    transform: roteteY(-180deg);
    display: block; 
    color: #fff!important;

}
.et-contact-item:hover .qx-icon {

    -webkit-transform: roteteY(-180deg);
    -ms-transform: roteteY(-180deg);
    transform: roteteY(-180deg);
}
.et-contact-item {
    cursor: pointer;
}
.et-contact-form label {
    color: #333;
}
.et-contact-form input {
    border-radius: 0!important;
    height: 25px!important;
    width: 100%;
}
.et-contact-form textarea {
    height: 100px!important;
    border-radius: 0!important;
    width: 100%;
}
.et-contact-form button {
    background: none;
    width: 150px;
    height: 35px;
    color: #333;
    display: block;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #aeacac!important;
    transition: all .25s linear;
    font-weight: 400;
}

.qx-fg-filter > li > a.btn.active {
    color: #333;
}

.qx-fg-filter > li > a.btn {
    color: #333;
}
/** RESPONSIVE **/
#sp-header,
body.com-quix #sp-main-body > .container {
    width: 100%!important;
}
div.qx-section {
    margin-left: 0!important;
    max-width: 100%!important;
}
div.qx-container {
    max-width: 100%!important;
}
#sp-component {
    padding: 0;
}
/* Screen min 1199px */
@media (min-width: 1200px) {
	.et-services-right,
	.et-about .et-title {
		padding-left: 60px;
		padding-right: 60px;
	}
}
/* Screen min 1199px */
@media (max-width: 1199px) {
	.et-services-right,
	.et-about .et-title {
		padding-left: 20px;
		padding-right: 20px;
	}
}
/* Screen min 980px and max 1199px */
@media (min-width: 1200px) and (max-width: 1550px) {
	.et-services-right, .et-about .et-title {
	    padding: 30px;
	}
	.et-services-content h2 {
	    margin-bottom: 10px;
	}
}
/* Screen min 980px and max 1199px */
@media (min-width: 980px) and (max-width: 1199px) {
	.et-about .et-title {
		padding-top: 40px;
		padding-bottom: 0!important;
	}
	.et-services > div {
		width: 100%!important;
	}
}
/* Screen min 979px and max 781px */
@media (min-width: 768px) and (max-width: 979px) {
	#et-intro {
        top:0px;
    }
    .et-intro-item i {
        position: inherit!important;
        margin-top: 0px;
    }
    #et-about {
        padding-top: 50px;
    }
}
/* Screen max 767px */
@media (max-width: 767px) {
	.et-subscribe > div:first-child {
		padding-bottom: 0!important;
	}
	.et-action-title,
	.et-subscribe > div > div {
		text-align: left;
	}
	.et-blog div.k2ItemsBlock ul li {
		width: 100%;
		margin-right: 0;
	}
    .et-blog ul li .moduleItemDateCreated {
        top:181px;
    }
    #et-intro {
        top:0px;
    }
    .et-intro-item i {
        position: inherit!important;
        margin-top: 0px;
    }
}
/* Screen max 480px */
@media (max-width: 480px) {
    #et-intro {
        top:0px;
    }
    .et-intro-item i {
        position: inherit!important;
        margin-top: 0px;
    }
    #et-about {
        padding-top: 50px;
    }
    .et-blog ul li .moduleItemDateCreated {
        top:152px;
    }
    #et-about-item-left {
        margin: 0px;

    }
	
}