.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a {
  color: #f76206;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  background: #f76206;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #f76206;
}

#offcanvas-toggler >i:hover {
  color: #f76206;
}
.btn-primary,
.sppb-btn-primary {
  border-color: #0faae4;
  background-color: #f76206;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #0d8ab9;
  background-color: #0e9cd1;
}
ul.social-icons >li a:hover {
  color: #f76206;
}
.sp-page-title {
  background: #f76206;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #000000;
}
.sp-module ul >li >a:hover {
  color: #f76206;
}
.sp-module .latestnews >div >a {
  color: #000000;
}
.sp-module .latestnews >div >a:hover {
  color: #f76206;
}
.sp-module .tagscloud .tag-name:hover {
  background: #f76206;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #f76206;
}
.search .btn-toolbar button {
  background: #f76206;
}
.post-format {
  background: #f76206;
}
.voting-symbol span.star.active:before {
  color: #f76206;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #0e9cd1;
}
.entry-link,
.entry-quote {
  background: #f76206;
}
blockquote {
  border-color: #f76206;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #f76206;
}
#sp-footer {
  background: #f76206;
}
.sp-comingsoon body {
  background-color: #f76206;
}
.pagination>li>a,
.pagination>li>span {
  color: #000000;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #000000;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #f76206;
  background-color: #f76206;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #f76206;
  background-color: #f76206;
}
.projects-filter a.selected, .projects-filter a.selected:hover,
.et-title h6,
.et-slider .tp-caption a:hover,
.et-feature-item:hover i,
.et-portfolio-button:hover,
.et-action-button:hover,
.et-blog ul li .moduleItemDateCreated,
.et-table-item:hover button,
.et-team-item .qx-person-img:before {
  background: #f76206;
}
.et-intro-item i,
.et-about-item i,
.et-feature-item h4,
.et-about-item h4,
.et-about-item-left h4,
.et-slider .tp-caption a,
.et-table-item h3,
.et-buynow-item h1,
.et-table-item .table-price .price,
.et-table-item button:hover a,
.et-testimonial p.qx-designation,
.et-testimonial button,
.et-team-item h4 {
  color: #f76206; 
}
.et-feature-item:hover i,
.et-portfolio-button:hover,
.et-action-button:hover,
.et-table-item:hover,
.et-table-item button,
.et-subscribe-content table .button:hover {
  border-color: #f76206;
}
.et-about-item i {
  border: 1px solid #f76206;
}
/* Important */
.et-services-item:hover i,
.et-services-item:hover h4, 
.et-training-item h4,
.et-blog div.k2ItemsBlock ul li a,
.et-intro-item h4 {
  color: #f76206!important; 
}
.et-contact #sp-quickcontact-form .button:hover,
.et-subscribe-content table .button:hover,
#et-buynow-item-button,
.et-contact-form button,
.et-app .app-store li .btn,
.projects-filter a.selected,
.et-team-item .social-links a {
  background: #f76206!important;  
}
.et-contact #sp-quickcontact-form .button:hover {
  border-color: #f76206!important; 
}
.projects-wrapper .project-img .project-img-extra {
    background-image: -webkit-linear-gradient(top , rgba(247, 98, 6, 0.51) 0%, rgba(247, 98, 6, 0.52) 100%)!important;
}
.et-app .app-store li .btn:hover {
  border:2px solid #f76206;
}
